* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #1a1a1a;
    color: #fafafa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 360px;
    max-width: 900px;
}

h1 {
    text-align: center;
    margin-bottom: 5rem;
    color: #fafafa;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    background-color: #3a3a3a;
    border-radius: .6rem;
    width: 70%;
    padding: 1rem;
    margin-bottom: 5rem;
    box-shadow: rgba(175, 175, 175, 0.3) 0px 19px 38px, rgba(175, 175, 175, 0.22) 0px 15px 12px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    margin: .25rem;
}

select {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: .5rem;
    border-color: none;
    border-radius: .6rem;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    background-color: #383838;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    box-shadow: 0 0 1rem -1rem #f09819;
    color: #fafafa;
    font-weight: bold;
}

label {
    width: 100%;
    font-weight: bold;
}

.input-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    padding: 1rem;
    border: none;
    border-radius: .6rem;
    background-color: #383838;
    box-shadow: rgb(50, 50, 50) 3px 3px 6px 0px inset, rgba(150, 150, 150, 0.5) -3px -3px 6px 1px inset;
    color: #fafafa;
    font-size: 5rem;
}

input {
    height: 100%;
    max-width: 90%;
    min-width: 50%;
    text-align: center;
    outline: none;
    border: none;
    font-size: 3rem;
    background-color: #383838;
    box-shadow: none;
    color: #fafafa;
    font-family: inherit;
}

input:focus {
    outline: none;
}

#input-unit {
    font-size: 3rem;
    font-weight: 100;
    font-family: inherit;
}

#result-unit {
    font-size: 3rem;
    font-weight: 100;
    font-family: inherit;   
}

label,
input,
button,
.result-area {
    display: block;
}

#result-title {
    width: 100%;
}

.result-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    height: 80%;
    width: 100%;
    border-radius: .6rem;
    background-color: #383838;
    box-shadow: rgb(50, 50, 50) 3px 3px 6px 0px inset, rgba(150, 150, 150, 0.5) -3px -3px 6px 1px inset;
    font-size: 3rem;
}

#result {
    height: 80%;
    width: 90%;
    margin: .25rem;
    text-align: center;
}

button {
    min-width: 25%;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: .6rem;
    border: 0rem;
    cursor: pointer;
    touch-action: manipulation;
    transition: 0.5s;
    background-size: 200%;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    box-shadow: 0 0 1rem -1rem #f09819;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

button:active {
    transform: scale(0.95);
}